.root{
    -fx-background-color: #17223B;
}

.label {
    -fx-text-fill: #ff6768;
}

.button {
    -fx-background-color:  #ff6768;
    -fx-text-fill:  #263859;
}

.button:hover {
    -fx-background-color: #8f3838;
    -fx-text-fill:  #263859;
}

.text-field {
    -fx-background-color:  #6b778d;
}

.password-field {
    -fx-background-color:  #6b778d;
}

.button:hover, .button:focused{
    -fx-cursor: hand;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #ff6768;

}

.tab {

    -fx-background-color: #6b778d;

}

.combo-box{
    -fx-background-color: #6b778d;
}

.combo-box-popup .list-view 
{
    -fx-background-color: #ff6768;
    -fx-text-fill: #17223b;

}

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: #ff6768;
}

.tab .tab-label {

    -fx-text-fill: #ff6768;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.1em 0.0em -0.2em 0.0em;
}

.tab:selected {

    -fx-background-color: #17223b;

}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #263859;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5.0;
    -fx-border-color: #ff6768;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35.0;
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(#6b778d, 0.0%) 
        transparent;
    -fx-border-insets: 0.0 10.0 1.0 0.0;
}

.table-view .column-header .label {
    -fx-font-size: 13.0pt;
    -fx-text-fill: #ff6768;
    -fx-alignment: center;
    -fx-opacity: 1.0;
    -fx-font-weight: normal;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}